.footer {
    background: aliceblue;
    text-align: center;
    font-size: 17px;
    padding: 10px;
}
.home-btn {
    text-decoration: none;
    background: darkcyan;
    text-align: center;
    border-radius: 7px;
    color: white !important;
    border: 1px solid white;
    width: 70px;
    margin-right: 4px;
}
.home-btn:hover {
    text-decoration: none;
    background: white;
    text-align: center;
    border-radius: 7px;
    color: darkcyan !important;
    border: 1px solid darkcyan;
    width: 70px;
    transition: .5s;
}
.add-brand {
    text-decoration: none;
    background: white;
    text-align: center;
    border-radius: 7px;
    color: darkcyan !important;
    border: 1px solid darkcyan;
    width: 90px;
}
.add-brand:hover {
    text-decoration: none;
    background: darkcyan;
    text-align: center;
    border-radius: 7px;
    color: white !important;
    border: 1px solid white;
    width: 90px;
}
.logout {
    text-decoration: none;
    background: rgb(161, 39, 1);
    text-align: center;
    border-radius: 7px;
    color: white !important;
    border: 1px solid white;
    width: 80px;
    margin-right: 4px;
}
.logout:hover {
    text-decoration: none;
    background: white;
    text-align: center;
    border-radius: 7px;
    color: rgb(161, 39, 1) !important;
    border: 1px solid rgb(161, 39, 1);
    width: 80px;
    transition: .5s;
}
